body {
  font-family: 'Segoe UI', sans-serif;
}

/* Top Bar */
.top-bar {
  background: #1f5c5a;
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
}

.top-bar marquee {
  width: 60%;
}
.green{
    background: #1f5c5a;
}
/* Hero Section */
.hero-section {
  padding: 80px 0;
}

.badge-custom {
  background: #e6f4f1;
  color: #0d6e6a;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
}

.hero-title {
  font-size: 42px;
  font-weight: 700;
  margin-top: 20px;
}

.hero-text {
  margin: 20px 0;
  color: #555;
}

.hero-buttons .btn {
  margin-right: 10px;
}

/* Hero Image */
.hero-img {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
}

/* Spinning Logo */
.spinning-logo {
  width: 110px;
  height: 110px;
  border: 4px dotted #0d6e6a;
  border-radius: 50%;
  margin: -50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 6s linear infinite;
  background: #fff;
}


.spinning-logo img {
  width: 60px;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Logos Marquee */
.logos-section {
  padding: 40px 0;
  background: #f8f9fa;
}

.logos-section img {
  width: 60px;
  margin: 0 40px;
  vertical-align: middle;
}
