:root{
  --primary:#0B5ED7;
  --dark:#0A1D37;
  --light:#EAF2FF;
}

body{
  font-family:Poppins, sans-serif;
}

/* ===== TOP HEADER ===== */
.top-header{
  background:var(--dark);
  color:#fff;
  font-size:14px;
  padding:8px 0;
}

/* ===== NAVBAR ===== */
.main-navbar{
  top:40px;
  background:#fff;
  transition:0.3s;
}

.navbar-brand{
  color:var(--primary);
  font-weight:700;
}

.nav-link{
  color:#1F2933 !important;
  margin-left:20px;
}

.nav-link.active,
.nav-link:hover{
  color:var(--primary)!important;
}

/* ===== HERO ===== */
.hero-section{
  padding-top:160px;
  background:linear-gradient(180deg,var(--light),#fff);
}

.hero-content h1{
  font-size:52px;
  font-weight:700;
}

.hero-content span{
  color:var(--primary);
}

.hero-content p{
  margin:20px 0;
  max-width:500px;
}

.hero-img{
  animation:float 4s ease-in-out infinite;
}

@keyframes float{
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(-15px)}
}

/* ===== LOGOS MARQUEE ===== */
.logos-marquee{
  overflow:hidden;
  margin-top:60px;
}

.logos-track{
  display:flex;
  width:max-content;
  animation:scroll 20s linear infinite;
}

.logos-track img{
  height:50px;
  margin-right:60px;
}

@keyframes scroll{
  from{transform:translateX(0)}
  to{transform:translateX(-50%)}
}
